.header
  %ul.header-list
    %li.title 
      = link_to 'video-app', videos_path, class: 'title-link'
    %li.list-one
      = link_to video_talks_path(1), class: 'link-block' do
        = fa_icon 'film', class: 'icon'
        .link-text
          Video
    %li.list-one
      = link_to posts_path, class: 'link-block' do
        = fa_icon 'comments', class: 'icon'
        .link-text
          Post
    %li.list-one
      = link_to "#", class: 'link-block' do
        = fa_icon 'user', class: 'icon'
        .link-text
          MyPage
    %li.list-one
      = link_to destroy_user_session_path, method: :delete, class: 'link-block' do
        = fa_icon 'cog', class: 'icon'
        .link-text
          LogOut
    - if user_signed_in?
      %li.list-one
        .user-name
          = "user name: #{current_user.name}"