= render 'header'
- breadcrumb :root
= render "layouts/breadcrumbs"

.top-page
  .main
    -# .breadcrumbs
    -#   = link_to 'TopPage', root_path
    .main-top
      .main-top__title
        = @video.title
      = link_to image_tag(image_for_video_path(@video.id), alt: @video.title, class: 'main-top__image'), video_talks_path(@video.id)
      -# = video_tag 'kimetu.mp4', type: "videos/mp4", controls: true, autoplay: false, muted: true, class: 'video-view
    .main-contents
      .main-card
        - @videos.each do |video|
          .card-one
            = link_to image_tag(image_for_video_path(video.id), class: 'card-image'), video_talks_path(video.id)
            .card-title
              = video.title

= render 'footer'