.show-page
  = render 'header'

  .main
    .main-title
      鬼滅の刃 op

    .main-top
      .main-video
        -# = video_tag 'sample.webm', type: "videos/webm", controls: true, autoplay: true, muted: true, class: 'video-view'
        = video_tag 'kimetu.mp4', type: "videos/mp4", controls: true, autoplay: false, muted: true, class: 'video-view'
      .main-comments
        -# .form
        -#   = form_for [@video, @talk] do |f|
        -#     = f.text_field :comment, placeholder: 'type a commment'
        -#     = f.submit 'Send', class: 'form__submit'   
        -# %input.textarea{placeholder: "コメントを入力してください", type: "text"}
        .comment-area
          -# %p こんにちは
          -# %p こんにちは
          -# %p こんにちは
          -# %p こんにちは
          -# %p こんにちは
          
    %ul.main-icon-list
      %li
        = fa_icon 'plus-circle', class: 'icon'
        %i マイビデオ
      %li
        = fa_icon 'twitter', class: 'icon'
        %i Twitter

    = render 'footer'