.account-page
  .account-page__header
    %h2 Log in
    %h5 新規会員登録は下記をクリック
    = render "devise/shared/links"
  .account-page__main
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        .field-label
          = f.label :email
          %i (メールアドレス)
        .field-input
          = f.email_field :email, autofocus: true
      .field
        .field-label
          = f.label :password
          %i (英数字8文字以上)
        .field-input
          = f.password_field :password, autocomplete: "off"
      .actions
        = f.submit "Log in", class: 'btn'
