.post-page
  = render '/videos/header'

  .main
    .breadcrumbs
      = link_to 'TopPage', root_path
      >>
      = link_to 'post', posts_path

    .main-title
      ゴミ捨て場
    
    .main-top
      .main-left
        .form
          = form_for [@post] do |f|
            = f.text_field :title, placeholder: 'type a title', class: 'form-title'
            = f.text_area :text, placeholder: 'type a commment', class: 'form-textarea'
            = f.label :image, class: 'image_label' do
              -# = fa_icon 'image'
              = f.file_field :image, class: 'form-filefield-image', id: 'image'
            = f.label :video, class: 'video_label', for: 'video', id: 'video' do
              -# = fa_icon 'image'
              = f.file_field :video, class: 'form-filefield-video', id: 'video'
            .preview-image
            .preview-video
            = f.submit 'send', class: 'form-submit'


        .good-ranking
          .ranking
            topranker
          .good-content
            -@love_count_post.each.with_index do |post, i|
              .post-box
                .rank
                  = i+1
                  位
                .count
                  いいね
                  = fa_icon 'heart', class: 'icon-red'
                  = @love_count[i]
                .post-top
                  .post-user
                    = post.user.name
                  .post-title
                    = post.title
                  .post-date
                    = post.created_at.strftime("%Y/%m/%d %H:%M")
                .post-bottom
                  - if post.text.present?
                    .post-text
                      = post.text
                  - if post.image.present?
                    .post-image
                      = image_tag post.image.url

      .main-right#bottom-scroll
        .posts-content
          - @posts.each do |post|
            .post-box
              .post-top
                .post-user
                  = post.user.name
                .post-title
                  = post.title
                .post-date
                  = post.created_at.strftime("%Y/%m/%d %H:%M")
                #love-post.id
                  = render partial: 'loves/love', locals: { post: post}
              .post-bottom
                - if post.text.present?
                  .post-text
                    = post.text
                - if post.image.present?
                  .post-image
                    = image_tag post.image.url
                - if post.video.present?
                  .post-video
                    = video_tag post.video_url.to_s, controls: true, autoplay: false, muted: true, class: "post-video"
                    -# = video_tag post.video_url.to_s, loop: true, autoplay: true, muted: true, controls: true, class: "post-video"

    = render 'videos/footer'